In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'D:\Programming\Python\bodytest.xlsx', index_col='Order')
df

      Name       UserId    TestId TestName Result
Order
1       张风  10002023203  19008432      GGT     12
2       张风  10002023203  19008432      WBC    5.3
3       张风  10002023203  19008432      GLU     阴性
4       张风  10002023203  20000154      GGT     28
5       张风  10002023203  20000154      WBC    4.7
6       张风  10002023203  20000154      GLU     阴性
7       张风  10002023203  21003411      GGT     43
8       张风  10002023203  21003411      WBC    5.7
9       张风  10002023203  21003411      GLU     阴性
10      秋林  10000423024  19008465      GGT     14
11      秋林  10000423024  19008465      WBC    7.3
12      秋林  10000423024  19008465      GLU     阴性
13      秋林  10000423024  20007721      GGT     11
14      秋林  10000423024  20007721      WBC   14.2
15      秋林  10000423024  20007721      GLU     阴性
16      秋林  10000423024  21009901      GGT     15
17      秋林  10000423024  21009901      WBC    6.2
18      秋林  10000423024  21009901      GLU     阴性
19      乔玥  10002024702  19008511      GGT     13
20      乔玥  10002024702  19008511      WBC    5.3
21      乔玥  10002024702  19008511      GLU     阴性
22      乔玥  10002024702  20000173      GGT     13
23      乔玥  10002024702  20000173      WBC    6.3
24      乔玥  10002024702  20000173      GLU     阴性
25      乔玥  10002024702  21003413      GGT     11
26      乔玥  10002024702  21003413      WBC    6.1
27      乔玥  10002024702  21003413      GLU     阴性

In [3]:
res = df.pivot_table(values='Result', index=['UserId','TestId'], columns='TestName', aggfunc='last')
res

TestName             GGT GLU   WBC
UserId      TestId
10000423024 19008465  14  阴性   7.3
            20007721  11  阴性  14.2
            21009901  15  阴性   6.2
10002023203 19008432  12  阴性   5.3
            20000154  28  阴性   4.7
            21003411  43  阴性   5.7
10002024702 19008511  13  阴性   5.3
            20000173  13  阴性   6.3
            21003413  11  阴性   6.1

In [4]:
res = res.reset_index()
res['Year'] = res['TestId'].astype(str).str[:2]
res

TestName       UserId    TestId GGT GLU   WBC Year
0         10000423024  19008465  14  阴性   7.3   19
1         10000423024  20007721  11  阴性  14.2   20
2         10000423024  21009901  15  阴性   6.2   21
3         10002023203  19008432  12  阴性   5.3   19
4         10002023203  20000154  28  阴性   4.7   20
5         10002023203  21003411  43  阴性   5.7   21
6         10002024702  19008511  13  阴性   5.3   19
7         10002024702  20000173  13  阴性   6.3   20
8         10002024702  21003413  11  阴性   6.1   21

In [5]:
uni_id = res.UserId.unique().tolist()
tmp_dict = {i:{} for i in uni_id}
for i in uni_id:
    for col in ['GGT', 'WBC', 'GLU']:
        for year in ['19', '20', '21']:
            try:
                tmp_dict[i][col+year] = res[(res['UserId']==i) & (res['Year']==year)][col].values[0]
            except:
                pass

In [6]:
res2 = pd.DataFrame.from_dict(tmp_dict, orient='index')
res2

             GGT19  GGT20  GGT21  WBC19  WBC20  WBC21 GLU19 GLU20 GLU21
10000423024     14     11     15    7.3   14.2    6.2    阴性    阴性    阴性
10002023203     12     28     43    5.3    4.7    5.7    阴性    阴性    阴性
10002024702     13     13     11    5.3    6.3    6.1    阴性    阴性    阴性

In [7]:
info = df[['Name', 'UserId']].drop_duplicates()
info.merge(res2, left_on='UserId', right_index=True)

,Name,UserId,GGT19,GGT20,GGT21,WBC19,WBC20,WBC21,GLU19,GLU20,GLU21
Order,,,,,,,,,,,
1,张风,10002023203,12,28,43,5.3,4.7,5.7,阴性,阴性,阴性
10,秋林,10000423024,14,11,15,7.3,14.2,6.2,阴性,阴性,阴性
19,乔玥,10002024702,13,13,11,5.3,6.3,6.1,阴性,阴性,阴性

## better way to do

In [8]:
df2 = df.copy()
df2['Year'] = df.TestId.astype(str).str[:2]
df2['TestName'] = df2['TestName'] + df2['Year']
df2 = df2.sort_index()
df2

      Name       UserId    TestId TestName Result Year
Order
1       张风  10002023203  19008432    GGT19     12   19
2       张风  10002023203  19008432    WBC19    5.3   19
3       张风  10002023203  19008432    GLU19     阴性   19
4       张风  10002023203  20000154    GGT20     28   20
5       张风  10002023203  20000154    WBC20    4.7   20
6       张风  10002023203  20000154    GLU20     阴性   20
7       张风  10002023203  21003411    GGT21     43   21
8       张风  10002023203  21003411    WBC21    5.7   21
9       张风  10002023203  21003411    GLU21     阴性   21
10      秋林  10000423024  19008465    GGT19     14   19
11      秋林  10000423024  19008465    WBC19    7.3   19
12      秋林  10000423024  19008465    GLU19     阴性   19
13      秋林  10000423024  20007721    GGT20     11   20
14      秋林  10000423024  20007721    WBC20   14.2   20
15      秋林  10000423024  20007721    GLU20     阴性   20
16      秋林  10000423024  21009901    GGT21     15   21
17      秋林  10000423024  21009901    WBC21    6.2   21
18      秋林  10000423024  21009901    GLU21     阴性   21
19      乔玥  10002024702  19008511    GGT19     13   19
20      乔玥  10002024702  19008511    WBC19    5.3   19
21      乔玥  10002024702  19008511    GLU19     阴性   19
22      乔玥  10002024702  20000173    GGT20     13   20
23      乔玥  10002024702  20000173    WBC20    6.3   20
24      乔玥  10002024702  20000173    GLU20     阴性   20
25      乔玥  10002024702  21003413    GGT21     11   21
26      乔玥  10002024702  21003413    WBC21    6.1   21
27      乔玥  10002024702  21003413    GLU21     阴性   21

In [9]:
df2 = df2[['UserId', 'TestName', 'Result']]
df2 = df2.set_index(['UserId', 'TestName']).unstack()
df2

            Result
TestName     GGT19 GGT20 GGT21 GLU19 GLU20 GLU21 WBC19 WBC20 WBC21
UserId
10000423024     14    11    15    阴性    阴性    阴性   7.3  14.2   6.2
10002023203     12    28    43    阴性    阴性    阴性   5.3   4.7   5.7
10002024702     13    13    11    阴性    阴性    阴性   5.3   6.3   6.1

In [10]:
info = df[['Name', 'UserId']].drop_duplicates()
info.merge(df2, left_on='UserId', right_index=True)

D:\Apps\Program\Anaconda\lib\site-packages\pandas\core\reshape\merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

,Name,UserId,"(Result, GGT19)","(Result, GGT20)","(Result, GGT21)","(Result, GLU19)","(Result, GLU20)","(Result, GLU21)","(Result, WBC19)","(Result, WBC20)","(Result, WBC21)"
Order,,,,,,,,,,,
1,张风,10002023203,12,28,43,阴性,阴性,阴性,5.3,4.7,5.7
10,秋林,10000423024,14,11,15,阴性,阴性,阴性,7.3,14.2,6.2
19,乔玥,10002024702,13,13,11,阴性,阴性,阴性,5.3,6.3,6.1